/* Override margins for figures. */
figure {
  margin-top: 0;
  margin-bottom: 0;
}

/* Make homepage section padding compact. */
.home-section {
  padding: 60px 0 60px 0;
}

/* Clean, minimal style for Hero widget. */
.hero-overlay .hero-title,
.hero-overlay .hero-lead {
  color: #000;
  text-shadow: none;
}

.hero-overlay .btn {
  color: #fff;
  text-shadow: none;
}

.hero-overlay .hero-lead a {
  color: #aaa;
  text-decoration-line: underline;
}

.hero-overlay {
  padding: 0;
}

/* change text link/hover color for hero from white */
.hero-overlay a {
  color: #4c83b6;
}

.hero-overlay a:hover {
  color: #42709b
}

/* change button color for hero too */
.hero-overlay .btn {
  border: none;
  color: rgba(52, 60, 86,.8);
  background: rgba(117, 170, 219,.5);
}


/* change button hover link color for hero too */
.hero-overlay .btn:hover {
  color: #fff;
}

.hero-overlay .btn[href]:hover,
.hero-overlay .btn[href]:focus {
  background: rgba(117, 170, 219,.9);
}

/* change font color from red to blue*/
pre,
code {
  color: #4c83b6;
}

/* Docs: custom TOC foot. */

.connect-widget {
  margin-top: 30px;
  font-size: 0.7rem;
}

.connect-widget ul {
  list-style: none;
  padding-left: 5px;
}