<!--this adds github edit button to all posts-->
{{ if $.File.Path }}

{{ $Rmarkdown := (print $.File.BaseFileName ".Rmarkdown") }}

{{ if (where (readDir (print "content/" $.File.Dir)) "Name" $Rmarkdown) }}
  {{ $.Scratch.Set "FilePath" (print $.File.Dir $Rmarkdown) }}
{{ else }}
  {{ $.Scratch.Set "FilePath" $.File.Path }}
{{ end }}
{{ end }}
<!--end github edit code-->

<div class="connect-widget">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-question-circle"></i><a href="https://community.rstudio.com/t/information-for-the-advanced-r-markdown-workshop-2019/20859" target="_blank">Get trouble-shooting help</a></li>
    <li><i class="fa-li fas fa-comments"></i><a href="https://gitter.im/arm-austin/Lobby" target="_blank">Ask questions</a></li>
    <li><i class="fa-li fas fa-bug"></i><a href="https://github.com/rstudio-education/arm-workshop-rsc2019/issues" target="_blank">Report issues</a></li>
    <li><i class="fa-li fas fa-edit"></i>{{ with $.Site.Params.GithubEdit }}<a href="{{ . }}{{ $.Scratch.Get "FilePath" }}" target="_blank">Suggest an edit</a>&nbsp{{ else }}@{{ . }}{{ end }}</li>
  </ul>
</div>