<div class="connect-widget">
  <ul class="connect-links fa-ul">
    <li><i class="fa-li fas fa-question-circle"></i><a href="https://community.rstudio.com/t/rstudio-conf-workshop-information/19670" target="_blank">Get trouble-shooting help</a></li>
    <li><i class="fa-li fas fa-comments"></i><a href="https://gitter.im/arm-austin/Lobby" target="_blank">Ask questions</a></li>
    <li><i class="fa-li fas fa-bug"></i><a href="https://github.com/rstudio-education/arm-workshop-rsc2019/issues" target="_blank">Report issues</a></li>
    <li><i class="fa-li fas fa-edit"></i><a href="http://prose.io/#sourcethemes/academic-www/edit/master/content/{{.File.Path}}">Edit this page</a></li>
  </ul>
</div>